<!DOCTYPE html>
<html>
<head>
  <title>Exposure checker | Tutorial</title>
  <link rel="stylesheet" media="screen" href="assets/bootstrap/css/bootstrap.min.css" type="text/css" charset="utf-8">
  <link rel="stylesheet" media="screen" href="assets/eyeball.css" type="text/css" charset="utf-8">
  <meta charset="utf-8">
  <meta name="author" content="Peter Melchior, Erin Sheldon, Alex Drlica-Wagner">
  <link rel="icon" href="assets/favicon.png" type="image/png">
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="wrapper">
  <div class='container'>
    <div class="navbar">
      <div class="navbar-inner">
	<a class="brand" href="index.html">Exposure checker</a>
	<ul class="nav">
          <li><a href="viewer.html">Viewer</a></li>
	  <li class="active"><a href="#">Tutorial</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="statistics.html">Statistics</a></li>
          <li><a href="api.html">API</a></li>
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="hodgepodge.html">Hodge-podge</a></li>
	</ul>
      </div>
    </div>

    <!-- content area -->
    <div class="span12">
      <h1>Tutorial</h1>
      <a id="tutorial-anchor"></a>
    </div>
    <div class="span12">
      <p>The primary interface for the Exposure Checker is the <a href="viewer.html">Viewer</a>, which displays the image of a single LSST detector.
      Initally three buttons are shown:</p>
      <button id="skip-button" class="btn btn-primary skip">Skip</button>
      <button id="fine-button" class="btn btn-success">Submit</button>
      {% include "problem_selector.shtml" %}
      <p style="margin-top:10px">
      If you are quickly scanning through images without assessing them, press the <span class="text-info" style="font-weight: bold;">Skip</span> button to move to the next image.
      If there are no obvious issues with the image displayed, press <span class="text-success" style="font-weight: bold;">Submit</span> to flag the image as good.
      Otherwise, click the <span class="text-error" style="font-weight: bold;">Problem</span> button and select one of the predefined problem categories.
      Click on the location(s) of the problematic features to mark them on the image.</p>

      <p>When you marking a problem two new buttons will appear:</p>
      <div id="mark-buttons">
        <button class="btn btn-primary" data-toggle="button">False</button>
        <button class="btn btn-primary">Clear Last</button>
      </div>
      <p style="margin-top:10px">
      With the <span class="text-info" style="font-weight: bold;">False</span> button, you can report a non-existent problem that has been falsely flagged in data processing,
      e.g., a mask that covers an area that appears fine.
      Because the data processing interpolates over some features (cosmic rays, bleed trails, etc.) it can sometimes be difficult to assess whether the algorithms are performing properly.
      If you determine that a mask was added in error, choose the appropriate mask category click on this button to report it.
      When you click on the image, a mark will appear to indicate that you are reporting a false positive.
      After you've marked the first problem, another button <span class="text-info" style="font-weight: bold;">Clear Last</span> will appear to let you undo your mark(s).
        Once you are done marking all problems, click <span class="text-success" style="font-weight:bold;">Submit</span> to log the problems and advance to the next image.
      </p>
      <p>
        The Exposure Checker provides a means to further investigate an image using these buttons:</p>
      <p>
      <div class="btn-group">
      <button id="info-button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Info</span><span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><a tabindex="-1" href="#" id="share-button">Share <u>l</u>ink</a></li>
        <li><a tabindex="-1" href="#" id="dm-button"><u>D</u>ata access info</a></li>
        <li><a tabindex="-1" href="#" id="fov-button">Show entire <u>F</u>oV</a></li>
        <li><a tabindex="-1" href="#" id="reported-button">Show reported <u>p</u>roblems</a></li>
      </ul>
      </div>
      <button class="btn btn-primary">Toggle <u>m</u>ask</button>
      <button class="btn btn-primary">Toggle <u>s</u>caling</button>
      </p>
      <p>
        The <span class="text-info" style="font-weight: bold;">Info</span> button opens a menu with a link to the image you are currently viewing, the data access info, and an image showing the entire focal plane field of view (FoV). You can also overlay problems previously reported for this image by other users.
        The <span class="text-info" style="font-weight: bold;">Toggle mask</span> button allows you to display or hide the image mask plane, while the <span class="text-info" style="font-weight: bold;">Toggle scaling</span> button lets you change the image scaling.
      </p>
    </div>

    <div class="span12">
      <a id="checker-anchor"></a>
      <h3>How to Check an Image</h3>
      <p> The Exposure Checker is most useful for discovering previously unknown issues in our data. We rely on you to train your own built-in wet neural network (a.k.a., brain) to be able to classify what is normal and abnormal in our images. While there isn't an exact perscription for how you check an image, below we list a few basic steps that you might consider.
      </p>
      <ul>
        <li><b>Toggle the Scaling:</b> By toggling the scaling you can examine both bright and faint features in the image. The large stretch (darker background) images are good for identifying features like cosmic rays, while the small stretch (lighter background) is better for seeing background issues.</li>
        <li><b>Toggle the Mask:</b> The mask will display features that have already have been identified and corrected by data processing. It will also allow you to identify over-agressive masking.</li>
        <li><b>Check Previously Marked Problems:</b> Checking problems marked by other users can be useful, especially if you are new to the exposure checker. That said, every cosmologist should recognize the power of blinding...</li>
        <li><b>Investigate the Focal Plane Image:</b> Take a look at the full focal plane FoV image. Often background mis-estimation can be more easly seen in the more heavily binned images. You can also use the FoV image to navigate to another CCD of interest, but be careful that this navigation will not submit your input for the current CCD.</li>
        <li><b>Mark Problems:</b> Mark issues that you find in the image. If you find something that doesn't seem to fit with known problem classes, add it as <span class="text-error" style="font-weight:bold;">"Other..."</span>. Remember to click on the image after entering text to mark <span class="text-error" style="font-weight:bold;">"Other..."</span> or <span class="text-error" style="font-weight:bold;">"Awesome!"</span> features. You can mark multiple problems per image, but problems are not logged until you press <span class="text-success" style="font-weight:bold;">Submit</span>.</li>
        <!--
        <li><b>Download the FITS File:</b> If you find something very strange, you can download the binned FITS file to investigate further with ds9. This is not necessary for most images; however, the header of this FITS file does provide useful metadata (i.e., telescope pointing, observing conditions, etc.)</li>
        --->
        <li><b>Submit Your Input:</b> Don't forget to click the <span class="text-success" style="font-weight:bold;">Submit</span> button! This is the only way to log your feedback on an image. If you don't want your feedback logged, you can press <span class="text-info" style="font-weight:bold;">Skip</span> instead, but this will not add to your score.</li>
      </ul>
      <p>
      You should now have everything you need to start looking at images.
      If you still have questions, check out the <a href="faq.html">FAQ</a> page or post a message to <a href="{{ slack_link }}">{{ slack_channel }}</a>.
      The remainder of this tutorial goes into more detail about several common imaging artifacts. 
      Some of the examples of artifacts are common problems from the Dark Energy Survey, and may not appear (or appear differently) in LSST.
      </p>
    </div>
    <!--
    <div class="span12">
      <a id="simulation-anchor"></a>
      <h3>Simulations</h3>

      This section is for collecting feedback and issues on the simulation software. It is currently filled with problem classes (and examples) that were detected in DECam data from DES. Since we don't know exactly what issues we will run across with LSST, this section is open ended and evolving. If you see an issue that you don't know how to classify, mark it with "Other..." and report it on the <a href="{{ slack_link }}">{{ slack_channel }}</a> channel.

    </div>
    <div class="span7" >
      <a id="speckle-anchor"></a>
      <h4>Speckling</h4>
      <p> Speckling can occur near bright objects and arises from a hardware-specific feature in PhoSim runs.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/speckle.png"><img src="material/speckle.png" /></a>
        <small>Speckling around bright galaxies (LSST)</small>
      </p>
    </div>

    <div class="span7" >
      <a id="cosmic-anchor"></a>
      <h4>Cosmic</h4>
      <p> Issues with cosmic ray generation and simulation. May include (but is not limited to) the number of cosmics simulated. The length of cosmic rays, the scattering rate, the sharpness of cosmic ray edges, filter dependence, etc.
      </p>
    </div>

    <div class="span7" >
      <a id="star-anchor"></a>
      <h4>Star</h4>
      <p> Issues with star generation and simulation. May include (but is not limited to): the size of stars, the brightnesses of stars, bleed trails from the saturation of stars. If you start to see consistent artifacts please add a new description in the "Other" classification.
      </p>
    </div>

    <div class="span7" >
      <a id="galaxy-anchor"></a>
      <h4>Galaxy</h4>
      <p> Issues with galaxy generation and simulation. May include (but is not limited to): the size of galaxies, the brightnesses of galaxies, the orientation of galaxies. If you start to see consistent artifacts please add a new description in the "Other" classification.
      </p>
    </div>

    <div class="span7" >
      <a id="skybkg-anchor"></a>
      <h4>Sky background</h4>
      <p> Issues with sky background generation and simulation. May include (but is not limited to): the brightness, smoothness, and uniformity of the sky background. If you start to see consistent artifacts please add a new description in the "Other" classification.
      </p>
    </div>

    <div class="span7" >
      <a id="instrument-anchor"></a>
      <h4>Instrument</h4>
      <p> Issues with how the instrument is simulated. May include (but is not limited to): incorrect camera/ccd geometry, incorrect reflections/scattered light, saturation effects (i.e., edge bleeds), electronic noise, etc. If you start to see consistent artifacts please add a new description in the "Other" classification.
      </p>
    </div>
    -->

    <div class="span12">
      <a id="masking-anchor"></a>
      <h3>Masking</h3>
    </div>

    <div class="span7" >
      <a id="column-mask-anchor"></a>
      <h4>Bad pixels</h4>
      <p> Bad pixels can occur for many different reasons. They may be dark or bright, and they should be masked in ISR.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href=""><img src="" /></a>
        <small></small>
      </p>
    </div>

    <div class="span7" >
      <a id="column-mask-anchor"></a>
      <h4>Column Mask</h4>
      <p> There are a number of columns that behave differently than their neighbors.
        Often this occurs when a hot pixel in the column bleeds over during readout.
        We attempt to mask these columns, and it is useful to know when we are missing bad columns.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/column_mask.gif"><img src="material/column_mask.gif" /></a>
        <small>Partially masked bad column (DES)</small>
      </p>
    </div>

    <div class="span7" >
      <a id="cosmic-ray-anchor"></a>
      <h4>Cosmic rays</h4>
      <p> Unmasked cosmic rays should become apparent when you use 
      <button class="btn btn-small btn-primary">Toggle <u>s</u>caling</button>
      to switch to a scaling that emphasizes the bright aspects of the image and
      <button class="btn btn-small
      btn-primary">Toggle <u>m</u>ask</button> to blink the existing
      mask.  LSST interpolates masked cosmic ray pixels, which
      makes it difficult to identify over-agressive masking.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/cosmic_ray.gif"><img src="material/cosmic_ray.gif" /></a>
        <small>Several partially masked cosmic rays (DES)</small>
      </p>
    </div>

    <div class="span7">
      <a id="crosstalk-anchor"></a>
      <h4>Crosstalk</h4>
      <p>Crosstalk is a leakage of charge between electronic readout
      channels.  Crosstalk can usually be identified as long,
      vertical features, typically several pixels wide and
      often widest in the middle section.  Crosstalk is generally
      strongest between amplifiers on the same chip, and you should be
      able to find a bright object that is the source of the charge.
      Mark the widest region of the crosstalk feature (usually near the middle).
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/cross_talk.gif"><img src="material/cross_talk.gif" /></a>
        <small>Crosstalk from several bright stars (DES)</small>
      </p>
    </div>

    <div class="span7">
      <a id="edge-bleed-anchor"></a>
      <h4>Bleed trails</h4>
      <p> Bright stars may exceed the pixel full well capacity and charge may overflow the pixel potential barrier and start extending ("bleeding") along the vertical (column) direction.
        These bleed trails may extend hundereds or thousands of pixels.
        Some of the LSST detectors have a channel stop that will prevent some bleed trails from crossing between the top and bottom halfs of the CCD.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href=""><img src="" /></a>
        <small></small>
      </p>
    </div>

    <div class="span7">
      <a id="edge-bleed-anchor"></a>
      <h4>Dark trails</h4>
      <p> Very bright stars are also found to produce dark trails that extend beyond the bleed trails.
        The precise electrostatic explanation for these features is still under investigation.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href=""><img src="" /></a>
        <small></small>
      </p>
    </div>

    <div class="span7">
      <a id="edge-bleed-anchor"></a>
      <h4>Edge bleed</h4>
      <p> Very bright stars saturate the readout electronics leading
        to bright bleeds on the readout side of the CCD.  Edge bleeds
        should be automatically identified and masked with a
        rectangular strip.  If this mask is too big, too small, or not
        present at all, please tag the location of the error.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/edge_bleed.gif"><img src="material/edge_bleed.gif" /></a>
        <small>Edge-bleed on left side from bright star further right (DES)</small>
      </p>
    </div>

    <div class="span7">
      <a id="excessive-mask-anchor"></a>
      <h4>Excessive mask</h4>
      <p> Occasionally large regions of a CCD get masked for no
        apparent reason. In LSST images, this can happen from over-agressive cosmic ray masking.
        Toggle the mask and flag excessive masks when you see them.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/excessive_mask.gif"><img src="material/excessive_mask.gif" /></a>
        <small>Excessive masking likely due to a failed edge-bleed mask (DES)</small>
      </p>
    </div>

    <div class="span12">
      <h3>Sky Estimation</h3>
    </div>
    <div class="span7">
      <a id="dark-rim-anchor"></a>
      <h4>Dark rim</h4>
      <p> It is fairly common for dark regions to appear in the corners and around the edges of images.
        These reflect an over-subtraction of the sky background in these regions.
        These dark rims are often correlated with bright stars or dense fields.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/dark_rim.gif"><img src="material/dark_rim.gif" /></a>
        <small>Dark rim at the top-left corner (DES)</small>
      </p>
    </div>

    <div class="span7">
      <a id="dark-halo-anchor"></a>
      <h4>Dark halo</h4>
      <p> Dark halos occasionally appear surrounding bright objects.
        This results from the sky background being over-estimated close to these objects.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/dark_halo.gif"><img src="material/dark_halo.gif" /></a>
        <small>A dark halo appears around the bright star in this image (DES)</small>
      </p>
    </div>

    <!--
    <div class="span7">
      <a id="Quilted-sky-anchor"></a>
      <h4>Quilted sky</h4>
      <p> Occasionally images show strong rectilinear patterning, and in the worst cases a CCD will appear as a 4x8 quilt of light and dark regions.
        This quilting is introduced by a mismatch in the normalization factor between the pupil and illumination correction (both of which are calculated in 512 pixel blocks).
        This artifact often appears strongest near the sides of the CCD, and can manifest itself as a single vertical line inset by roughly 1/8th of a CCD length.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/quilted_sky.gif"><img src="material/quilted_sky.gif" /></a>
        <small>Quilted sky (downsampled by 2x) (DES)</small>
      </p>
    </div>

    <div class="span7">
      <a id="wavy-sky-anchor"></a>
      <h4>Wavy sky</h4>
      <p> Wavy sky appears as large-scale structures contributing a high-level of sky background.
        These features are often correlated over the entire focal plane and can occur for several exposures in a row (they may be the result of poor observing conditions).
        We don't understand the root cause of this yet...
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/wavy_sky.gif"><img src="material/wavy_sky.gif" /></a>
        <small>Wavy sky (downsampled by 2x) (DES)</small>
      </p>
    </div>

    <div class="span7">
      <a id="anti-bleed-anchor"></a>
      <h4>Anti-bleed</h4>
      <p> Anti-bleeds are dark streaks extending from bright stars orthogonal to the readout direction.
        They have a width roughly comparable to the masked region of the star.
        They appear in the reduced images and are not purely an artifact of the sky background subtraction.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/anti_bleed.gif"><img src="material/anti_bleed.gif" /></a>
        <small>Dark anti-bleed around bright stars (DES)</small>
      </p>
    </div>
    -->
    
    <div class="span12">
      <h3>Flat Field</h3>
    </div>
    <div class="span7">
      <a id="ab-jump-anchor"></a>
      <h4>Amplifier jump</h4>
      <p>The LSST CCDs are read out by 16 amplifiers.
        In the Exposure Checker orientation, there are 8 amplifiers segments on the top half of the image and 8 amplifier segments on the bottom half.
        The electronic gains of these amplifiers are different, which can lead to differences in the background level in different sections of each CCD.
        Differences between amplifiers should be corrected in processing; however, a failure can lead to a sharp change in the background level at the amplifier boundaries.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/amp_jump.png"><img src="material/amp_jump.png" /></a>
        <small>Amplifier bias-level jump (LSST)</small>
      </p>
    </div>

    <div class="span7">
      <a id="fringing-anchor"></a>
      <h4>Fringing</h4>
      <p> Fringes are an interference pattern that occur at red wavelengths when the CCDs become transparent (think of the fringes on the surface of an oily puddle).
        Fringes are known to be variable (relative to the rest of sky brightness) and they can be difficult to deal with.
        They occur most commonly in the z- and y-bands.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/fringing.gif"><img src="material/fringing.gif" /></a>
        <small>Strong fringing pattern (DES)</small>
      </p>
    </div>

    <!-- Not in DC2
    <div class="span7">
      <a id="tape-bump-anchor"></a>
      <h4>Tape bump</h4>
      <p> The silicon wafers are attached to the CCD backplanes by six pieces of double-sided tape (three along each long edge of the CCD).
        Physical stresses on the silicon lattice distort the electric field in these regions changing the effective size of the pixels in these regions.
        A failure in flat-fielding can lead to one or often more of these tape bumps being visible in the reduced image.
        For more information, see <a href="http://arxiv.org/abs/1403.6127">this paper</a>.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/tape_bumps.gif"><img src="material/tape_bumps.gif" /></a>
        <small>Tape bump at the bottom center, together with fringing</small>
      </p>
    </div>
    -->
    <div class="span7">
      <a id="tree-rings-anchor"></a>
      <h4>Tree rings</h4>
      <p> Tree rings are concentric, circularly symmetric features arising changes in the effective pixel size resulting from transverse electric fields in the CCDs.
        Tree rings originate from variations in the doping impurities during single-crystal silicon growth.
        Thus, the tree ring pattern of each CCD will depend on its relative position in the silicon wafer.
        Tree rings appear most strongly in the z-band.
        For more information, see <a href="http://arxiv.org/abs/1403.6127">this paper</a>.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/tree_rings.gif"><img src="material/tree_rings.gif" /></a>
        <small>Strong concentric tree ring pattern (DES)</small>
      </p>
    </div>


    <div class="span7">
      <a id="vertical-jump-anchor"></a>
      <h4>Coffee stains</h4>
      <p>
        The backside processing procedure for the ITL CCDs can result in structured quantum efficiency variations that are seen most prominently in the bluer bands.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href=""><img src="" /></a>
        <small></small>
      </p>
    </div>

    
    <!--
    <div class="span7">
      <a id="vertical-jump-anchor"></a>
      <h4>Vertical jump</h4>
      <p>
        Vertical jumps can arises from the incorporation of a few bad flats into the calibration sets.
        These flats contain a strong gradient caused by the shutter failing to close during readout.
        Due to the clipping algorithm when combining multiple flats, this results in a vertical "jump" near the center of flat-fielded images.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/vertical_jump.gif"><img src="material/vertical_jump.gif" /></a>
        <small>Vertical jump from bad flats (DES)</small>
      </p>
    </div>
    -->
    
    <div class="span12">
      <h3>Reflections</h3>
    </div>
    <!--
    <div class="span7">
      <a id="bright-spray-anchor"></a>
      <h4>Bright spray</h4>
      <p> Light from bright off-axis stars can scatter at grazing incidence off of various surfaces in the optical train..
        This leads to broad bright sprays fanning out from the edge of the focal plane.
        These features can be most easily identified on the full focal plane images via the <button class="btn btn-small btn-primary">Info</button> button.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/bright_spray.gif"><img src="material/bright_spray.gif" /></a>
        <small>Example of strong spray of scattered light (DES)</small>
      </p>
    </div>
    -->

    <div class="span7">
      <a id="stray-light-anchor"></a>
      <h4>Stray light</h4>
      <p> Stray light coming from off-axis sources (i.e., stars, the moon, or terrestrial light sources) can scatter at grazing incidence off of various surfaces in the optical train.
        This leads to broad bright stray light features fanning out from the edge of the focal plane.
        These features can be identified on the full focal plane images via the <button class="btn btn-small btn-primary">Info</button> button.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/bright_spray.gif"><img src="material/bright_spray.gif" /></a>
        <small>Example of strong spray of scattered light (DES)</small>
      </p>
    </div>

    <div class="span7">
      <a id="ghost-anchor"></a>
      <h4>Ghosts</h4>
      <p>Ghost are reflections off the internal camera optics.
        They dominantly appear when a bright object is in the field of view and often occupy very large areas (from parts of a chip to the entire focal plane).
        Small ghosts can be identified on a single chip by their characteristic "tie-fighter window" pattern; however, often it is helpful to look at images of the full focal play.
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/ghost.gif"><img src="material/ghost.gif" /></a>
        <small>Pupil ghost next to a bright star (DES)</small>
      </p>
    </div>

    <div class="span7">
      <a id="ghoul-anchor"></a>
      <h4>Ghouls</h4>
      <p> In addition to brighter "Stray light" and "Ghost" features, less intense diffuse scattered light features can appear on smaller scales.
        These have been termed "Ghouls" due to their diffuse, and sometimes transient, appearance.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/brush_strokes.gif"><img src="material/brush_strokes.gif" /></a>
        <small>Brush strokes of scattered light (DES)</small>
      </p>
    </div>
    
    <div class="span7">
      <a id="glint-anchor"></a>
      <h4>Glints</h4>
      <p> Glints are another type of scattered light. They are pseudo-specular and can arise from reflections off the uncoated edge of the filters or other elements in the optical path.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/bright_arc.gif"><img src="material/bright_arc.gif" /></a>
        <small>Bright arc of scattered light (DES)</small>
      </p>
    </div>

    <div class="span12">
      <h3>Tracks</h3>
    </div>
    <div class="span7">
      <a id="satellite-anchor"></a>
      <h4>Satellite</h4>
      <p>Satellite, orbital stages of rockets, and other reflecting bodies
      often cross our focal plane.
      They create long, unsaturated streaks on the images, much longer and wider than cosmic rays. Since they are so
      large, you can mark the track wherever you want. Sometimes, however,
      the tracks are broken into segments (note: <a href="http://www.satobs.org/tumble/tumbleintro.html">rocket parts may tumble</a>),
      in which case we'd like to have marks on each of the segments.
      In Y1A1, be sure to keep an eye out for falsely masked streaks (i.e., streak masks when no streak is present).
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/satellite.gif"><img src="material/satellite.gif" /></a>
        <small>Earth-orbiting satellite streak</small>
      </p>
    </div>

    <div class="span7">
      <a id="tumbler-anchor"></a>
      <h4>Tumblers</h4>
      <p> Earth-orbiting satellites that are varying in brightness across an images. This is commonly a geometric affect from the tumbling of rocket bodies, space debris, etc.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href=""><img src="" /></a>
        <small></small>
      </p>
    </div>

    <div class="span7">
      <a id="meteor-anchor"></a>
      <h4>Meteors</h4>
      <p> Meteors and meteor showers can cause tracks in the images that sometimes curve or break up.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href=""><img src="" /></a>
        <small></small>
      </p>
    </div>

    <div class="span7">
      <a id="airplane-anchor"></a>
      <h4>Airplane</h4>
      <p> Chilean airline flight paths have been adjusted to not cross directly over the observatories; however, airplane crossings still occur.
        Planes have a much larger impact that satellites, often destroying the sky background estimation.
        When lights on a airplane blink, they appear as out-of-focus donuts (and can be used to determine the height of the plane...).
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/airplane.gif"><img src="material/airplane.gif" /></a>
        <small>An airplane trail (DES)</small>
      </p>
    </div>

    <div class="span12">
      <h3>Instrument/Telescope</h3>
    </div>
    <div class="span7">
      <a id="guiding-anchor"></a>
      <h4>Guiding Failure</h4>
      <p> Failures in the telescope guiding can lead to extended and elongated sources.
        This can also occur if the telescope is slewing when the shutter is open.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/guiding.gif"><img src="material/guiding.gif" /></a>
        <small>A guiding error leading to blurred sources (DES)</small>
      </p>
    </div>

    <div class="span7">
      <a id="shutter-anchor"></a>
      <h4>Shutter Failure</h4>
      <p> If the shutter fails to close before readout starts, stars will appear to have vertical tails aligned with the readout direction.
        Shutter errors can be identified by a switch in the tail direction from the top and bottom of an image, and will be consistent across the focal plane.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/shutter.gif"><img src="material/shutter.gif" /></a>
        <small>A shutter failure leading to star trails (DES)</small>
      </p>
    </div>

    <div class="span7">
      <a id="readout-anchor"></a>
      <h4>Readout noise</h4>
      <p> Correlated noise in the readout electronics can manifest as patterned noise in the images. One manifestation in DES was a nearly vertical hatched lines near the edges of the CCDs.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/readout.gif"><img src="material/readout.gif" /></a>
        <small>Image with a readout glitch on the left side (DES)</small>
      </p>
    </div>

    <!--
    <div class="span7">
      <a id="haze-anchor"></a>
      <h4>Haze</h4>
      <p> Haze appears as large diffuse blurs around bright objects.
      It affects the entire focal plane and can thus be seen well from the FoV images.
      The reason could be a slightly overcast sky, but we don't fully understand the root cause of this yet...
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/haze.gif"><img src="material/haze.gif" /></a>
        <small>Image with haze around bright stars (plus dark halos)</small>
      </p>
    </div>

    <div class="span7">
      <a id="vertical-stripes-anchor"></a>
      <h4>Vertical stripes</h4>
      <p> Some images contain a grainy vertical striping.
        Sometimes, this striping can be so bad that the image gets excessively masked.
        Vertical striping can be caused by a loose sync cable influencing the readout electronics.
        The root cause can be both the individual images or the bias frame that is subtracted from each raw image.
        Vertical striping is known to affect exposures taken in November, 2013 (specifically, CCDs on backplane 1).
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/vertical_stripes.gif"><img src="material/vertical_stripes.gif" /></a>
        <small>Vertical stripes, resulting in excessive masking</small>
      </p>
    </div>
    -->
    
    <div class="span7">
      <a id="other-anchor"></a>
      <h3>Other...</h3>
      <p>Sometimes none of the existing categories fit.
        In this case, you can describe the problem in your own words.
        Please do so in a way that is as comprehensible and consistent as possible.
        To help you do that, we remember the descriptions you've used before and show them to you.
        To get a sense of what other people have found, check out our <a href="hodgepodge.html">Hodge-podge</a> page that show you a list of free-word categories from all users.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/other.gif"><img src="material/other.gif" /></a>
        <small>Image with "bizarre PSF" from a guider fault (DES)</small>
      </p>
    </div>

    <div class="span7">
      <a id="awesome-anchor"></a>
      <h3>Awesome!</h3>
      <p>Rarely, you'll come across a truly phenomenal sight: a comet, a dense star cluster, a group of interacting galaxies, etc. 
      Report these objects by selecting "Awesome!" from the drop-down, then describe what you see and click on the object. 
      We collect these objects in our <a href="gallery.html">Gallery</a>.</p>
      <p>If you'd like to help by inspecting Gallery entries
      for our website and outreach purposes, please contact us.
      </p>
    </div>
    <div class="span5">
      <p class="img-polaroid">
        <a href="material/awesome.gif"><img src="material/awesome.gif" /></a>
        <small>Comet C/2010 R1 (DES)</small>
      </p>
    </div>

    <div class="span12">
    <h3>Want to help?</h3>
    Help is always welcome! If you think you found a new class of artifacts, let us know. If you know where these artifacts come from, let us know. The best way to contact us is through the <a href="{{ slack_link }}">{{ slack_channel }}</a> channel or by opening a <a href="{{ repo }}/issues">GitHub issue</a>.
  </div>
  <div id="push"></div>
  </div>
  {% include "footer.shtml" %}
</body>
<script type="text/javascript" src="assets/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
<script>
  // initial setup
  $(document).ready(function(){
    // connect problem selector to anchor in page
    $('a[class*="problem"]').on('click', function(evt) {
      var problem = evt.target.innerHTML;
      if (problem == "Other...")
        problem = "Other";
      var anchor_name = problem.replace(" ", "-").replace("!","").toLowerCase() + '-anchor';
      var node = $('#' + anchor_name);
      console.log(node);
      if (node.length) {
        $(document.body).scrollTop(node.offset().top);
      } else {
        // FIXME: need to refer to redmine...
        alert(problem);
      }
      evt.preventDefault();
    });
  });
</script>
</html>
